.input-wrapper {
    position: relative;
  }
  
  .input-wrapper> input {
    border: 1px solid gray;
    border-radius: 6px;
    position: relative;
    width: 90%;
    margin: 10px;
    line-height: 2rem;
  }
  
  .label-1 {
    position: absolute;
    top: 0.2ex;
    z-index: 1;
    left: 2em;
    background-color: white;
    padding: 0 5px;
    font-weight:700;
    font-size: 14px;
  
  }

  .label-2 {
    position: absolute;
    top: 7.8ex;
    z-index: 1;
    left: 2em;
    background-color: white;
    font-weight:700;
    font-size: 14px;
    padding: 0 5px;
  }
  .child{
      
    position: absolute;
    top: 4%;

}
